* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(#686a6c, #f1a23d);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.grid {
  height: 570px;
  width: 450px ;
  display: grid;
  box-shadow: 8px 8px 5px rgb(19, 18, 18);
}

.tela {
    background-color: rgb(36, 33, 33);
    text-align: right;
    font-size: 37px; 
    color: white;
    padding: 10px;
  }
  
.botao {
  background-color: rgb(14, 13, 13);
  color: rgb(252, 252, 252);
  font-size: 25px;
  cursor: pointer;
}
.botao:hover{
  background-color: rgb(43, 22, 16);
}
.igual {
  background-color: #f1a23d;
  color: white;
  /* border-radius: 50%; */
 
 
}
.opera {
  color: #f1a23d;
}
.tela {
  grid-area: tela;
}
.um {
  grid-area: um;
}
.dois {
  grid-area: dois;
}
.tres {
  grid-area: tres;
}
.quatro {
  grid-area: quatro;
}
.cinco {
  grid-area: cinco;
}
.seis {
  grid-area: seis;
}
.sete {
  grid-area: sete;
}
.oito {
  grid-area: oito;
}
.nove {
  grid-area: nove;
}
.zero {
  grid-area: zeru;
}
.limpar {
  grid-area: limpar;
}
.apagar {
  grid-area: apagar;
}
.invert {
  grid-area: invert;
}
.mais {
  grid-area: mais;
}
.menos {
  grid-area: menos;
}
.X {
  grid-area: mult;
}
.virgula {
  grid-area: virgula;
}
.igual {
  grid-area: igual;
}
.div {
  grid-area: div;
}

.grid {
  grid-template-areas:
    "tela tela tela tela "
    "limpar limpar invert div "
    "sete oito nove mult"
    "quatro cinco seis menos"
    "um dois tres mais"
    "zeru zeru virgula igual";
}
